.footer-nav {
  position: relative;
  bottom: 0;
  margin: -15px;
  transform: translateY(92px);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav.open,
.search.active {
  transform: translateY(0);
}
.menu-button {
  cursor: pointer;
}
.navigation {
  background-color: rgb(66 169 175);
  /* padding: 15px; */
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
  padding: 1.5rem 10px;
  cursor: pointer;
}
ul li:last-child {
  border-right: 0;
}
.search {
  transform: translateY(98px);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search input {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none;
}
.search button {
  padding: 8px;
  border-radius: 3px;
  border: 0;
  color: #fff;
  outline: none;
  background: rgb(82, 209, 216);
  margin-top: 5px;
  cursor: pointer;
}
.search button:hover {
  box-shadow: 0px 0px 2px 2px #399399;
}
